<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Api Server Test</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="">
    <form id="WsForm">
      <h1>phone</h1>
      <input id="sdkToken" type="text" name="text" placeholder="sdkToken" />
      <input id="userToken" type="text" name="text" placeholder="userToken" />
      <input id="action" type="text" name="text" placeholder="action" />
      <input id="WsSend" type="button" value="send" />
    </form>
  </div>
  <div id="monitor">
  </div>

  <form id="StopperForm">
    <h1>from main server</h1>
    <input id="userTokenStopper" type="text" name="text" placeholder="userToken" />
    <input id="StopperSend" type="button" value="send" />
  </form>
  <form id="RegForm">
    <h1>To Register</h1>
    <input id="RegPost" type="text" name="text" placeholder="userToken" />
    <input id="partnerName" type="text" name="partnerName" placeholder="partnerName" />
    <input id="partnerId" type="text" name="partnerId" placeholder="partnerId" />
    <input id="REgSend" type="button" value="send" />
  </form>
</body>
<script>
  $(function () {
    $("#WsSend").click(function () {
      var action = $("#action").val();
      var sdkToken = $("#sdkToken").val();
      var userToken = $("#userToken").val();
      var ws = new WebSocket(`ws://127.0.0.1/live?action=${action}&sdkToken=${sdkToken}&userToken=${userToken}`);
      ws.onmessage = function (str) {
        console.log("Someone sent: ", str);
        $("#monitor").append("<h1>" + str.data + "</h1>");
      };

      ws.send(JSON.stringify({
        action: action,
        sdkToken: $("#sdkToken").val(),
        userToken: $("#userToken").val()
      }));
    });

    $("#REgSend").click(function () {
      var text = $("#RegPost").val();

      var partnerName = $("#partnerName").val();
      var partnerId = $("#partnerId").val();
      $.ajax({
        type: "POST",
        url: "/api/register",
        data: JSON.stringify({ text, partnerName, partnerId }),
        success: function () {
          alert("success");
        },
        dataType: "json",
        contentType: "application/json"
      });
    });

    $("#StopperSend").click(function () {
      var token = $("#userTokenStopper").val();
      $.ajax({
        type: "POST",
        url: "/stop",
        data: JSON.stringify({ userToken: token }),
        success: function () {
          alert("success");
        },
        dataType: "json",
        contentType: "application/json"
      });
    });
  });
</script>

</html>